/* <Message/> --------------------------------------------------------------- */

/* General Styling */

.message {
    padding: .6rem;
    border-radius: .3rem;
    text-align: left;
    margin-bottom: .1rem;
    color: var(--color-text-1);
}

/* Sent Message */

.message.sent {
    background: var(--gradient-message-sent);
}

/* Recieved Message */

.message.recieved {
    background: var(--gradient-message-recieved);
}

