/* <ProfilePicture/> -------------------------------------------------------- */

.profile-picture {
    overflow: hidden;
    border-radius: 50%;

    /* Avoid resizing when a profile picture is in a flex container */
    flex-shrink: 0;
    flex-grow: 0;
}

.profile-picture img {
    width: 150%;
}