/* <Chat/> ----------------------------------------------------------------- */

#Chat {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#Chat #messages-container {
  flex-grow: 0;
  width: 100%;

  /* Sizing */
  padding-top: 1rem;
  max-height: 26.5rem;

  overflow-y: scroll;
}

#Chat #chat-input-container {
  width: 100%;
}
