#PortraitNavbar {
  width: calc(100% - 40px);
  height: 100%;
  padding: 0px 20px;
  background-image: var(--gradient-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

#PortraitNavbar #title-text {
  font-size: 1.9em;
  font-weight: 100;
}


#PortraitNavbar #tabs-container {
  display: flex;
  height: 100%;
}

#PortraitNavbar .tab-text {
  margin: 0px 20px;
  font-size: inherit;
}

#PortraitNavbar #tabs-container #selected-container {
  height: calc(100% - 6px);
  width: 100px;
  border-bottom: 3px solid var(--color-bg-1);
  margin-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

#PortraitNavbar #tabs-container .unselected-container {
  height: calc(100% - 6px);
  width: 100px;
  margin-top: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid transparent;
  font-size: 1.3em;
}

#PortraitNavbar #tabs-container .unselected-container:hover {
  border-bottom: 3px solid var(--color-bg-3);
}
