/*
  Color schemes:
    - https://www.colorbox.io/#steps=5#hue_start=230#hue_end=275#hue_curve=easeInQuad#sat_start=48#sat_end=32#sat_curve=easeOutQuad#sat_rate=130#lum_start=100#lum_end=61#lum_curve=easeOutQuad#minor_steps_map=0
*/


:root {
  /* Background colors */
  --color-bg-1: white;    /* lights */
  --color-bg-2: #f9f9f9;
  --color-bg-3: #eeeeee;
  --color-bg-4: #dddddd;
  --color-bg-5: #cccccc;

  --color-bg-dark-1: black; /* darks */
  --color-bg-dark-2: #111111;

  /* Text colors */
  --color-text-1: white;
  --color-text-2: black;
  --color-link-1: #526FFF;

  /* Gradients */
  --gradient-1: linear-gradient(141deg, #526FFF 0%, #767BF0 51%, #8377DE 75%);
  --color-gradient-1: #526FFF;
  --gradient-message-recieved: linear-gradient(140.83deg, #C070FF 43.46%, #865BFF 108.38%);
  --gradient-message-sent: linear-gradient(352.36deg, #C852FF -101.85%, #DE7796 62.25%);

  /* shadow boxes */
  --box-shadow-1: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
